<div class="container">
  <div class="palabras">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4>Contador de tiempo de escritura</h4>
      </div>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-group" *ngFor="let palabra of palabras; let i = index">
          <div class="row">
            <label for="palabra" class="col-md-2 col-form-label">{{palabra + ": "}}</label>
            <div class="col-md-7">
              <input id="palabra" class="form-control" 
              [(ngModel)]="inputPalabras[i].valor" 
              (ngModelChange)="verificar(i)" 
              [disabled]="inputPalabras[i].verified"
              (keypress)="inicializarContador($event, i)"
              type="text">
            </div>
            <div class="col-md-3">
              <span>{{getTiempo(i)}} ms</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary pull-right"
            (click)="refrescarCampos()">Refrescar!</button>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <input class="form-control" type="text" [(ngModel)]="palabraNueva">
          </div>
          
          <div class="col-md-5">
            <button class="btn btn-primary" (click)="agregarPalabra(palabraNueva)">Agregar!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
