<div class="container">
  <div class="palabras">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4>Contador de tiempo de escritura</h4>
      </div>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <app-lista [valores]="palabras"
                   [inputPalabras]="inputPalabras"
                   (refrescaCampos)="refrescarCampos()">
        </app-lista>
        <br>
        <br>
        <app-agregar [palabras]="palabras" (actualizarCampos)="refrescarCampos()">
        </app-agregar>
      </div>
    </div>
  </div>
</div>
