<div class="row">
  <div class="col-md-6">
    <div class="row" *ngFor="let palabra of palabras; let i = index">
      <div class="form-group">
        <div class="col-md-4">
          <label for="palabra">{{palabra}}</label>
        </div>
        <div class="col-md-8">
          <input id="palabra" [(ngModel)]="inputs[i].value" 
          (ngModelChange)="validarPalabra($event, i)" 
          (keypress)="inicializarT1(i)"
          [disabled]="inputs[i].disabled" class="form-control" type="text">
        </div>
        ++++++++++  {{inputs[i].tiempo}} ms
      </div>
    </div>
  </div>
</div>
